body {
   height: 100vh;
   width: 100%;
 }
 
 .slider {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   width: 100%;
 }
 
 .slider--content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100vh;
 }
 
 .slider--feature {
   text-align: center;
 }
 
 .feature--title {
   font-family: "Libre Baskerville", serif;
   font-size: 5rem;
   font-weight: 700;
   color: #ffe2ad;
   text-shadow: 2px 5px 2px rgba(0, 0, 0, 0.438);
 }
 
 .feature--text {
   font-family: "Libre Baskerville", serif;
   font-size: 2.4rem;
   font-weight: 300;
   color: white;
   margin: 1rem 0;
 }
 
 .slider__btn-right,
 .slider__btn-left {
   background: transparent;
   border: none;
   outline: none;
   font-size: 3rem;
   color: #eee;
   padding: 0 1rem;
   cursor: pointer;
   transition: transform 0.15s ease-in-out;
 }
 
 .slider-button {
  font-family: "Libre Baskerville", serif;
  background: #ffe2ad;
  border: none;
  color: #55433B;
  outline: none;
  font-weight: 400;
  padding: 1rem;
  cursor: pointer;
  border-radius: 8px;
}

.slider-button:hover {
  color: #FFECE3;
}


 .slider__btn-left:hover,
 .slider__btn-right:hover {
   transform: scale(0.9);
   color: #ffe2ad;
 }
 
 @keyframes fadeIn {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }
 .fadeIn {
   animation: fadeIn 0.5s;
 }
 
 @media screen and (max-width: 800px) {
   .slider {
     visibility: hidden;
     clear: both;
     float: left;
     margin: 10px auto 5px 20px;
     width: 28%;
     display: none;
   }
 }