@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap'); */

::-moz-selection {
  background: #ffe2ad; 
}
::selection {
  background: #ffe2ad; 
}

body {
  background: #FFECE3;
  color: #55433B;
  font-size: 1rem;
  font-family: "Libre Baskerville", serif;
  line-height: 2rem;
}

.navbar {
  background: #ffe2ad;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: center; 
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Libre Baskerville", serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #55433B;
  padding: 0px 1.6rem;
}

.nav-link-logo {
  padding: 0!important;
}

h1, h2, h3 {
  color: #55433B;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 4rem;
  margin-top: 30px;
}

h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 1.8rem;
  margin-top: 20px;
  font-weight: 700;
}

h3 {
  font-family: "Libre Baskerville", serif;
  font-size: 1.4rem;
  font-weight: 300;
}

a {
  font-size: 1.2rem;
  color: #55433B;
  text-decoration: none;
}

a:hover, a:focus, .fa:hover,
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #B0765E;
  text-decoration: none;
}

.site-footer {
  background-color: #ffe2ad;
  padding: 20px 0;
  flex-shrink: 0;
}

.section {
  position: relative;
  min-height: 100vh;
}

.form-group {
  margin-top: 15px;
  font-size: 1rem;
}

.col-margin {
  margin-bottom: 50px;
}

.home-height {
  margin-top: 5%;
}

.bao-img {
  margin-top: 20px;
}

.rsv-img {
  margin-top: 6rem;
}

.page-body {
  flex-grow: 1;
}

table {
  background-color: #FFECE3;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #55433B;
}

.reserve-btn {
  background-color: #55433B;
  color: #FFECE3;
}

.reserve-btn:hover {
  color: #ffe2ad;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.order-button, .add-button, .close, .footer-button {
  font-family: "Libre Baskerville", serif;
  background: #B0765E;
  border: none;
  color: #FFECE3;
  outline: none;
  font-weight: 400;
  padding: .5rem;
  cursor: pointer;
  border-radius: 12px;
}

.add-button {
  font-size: .8rem;
  padding: .3rem;
  margin-top: .5rem;
  border-radius: 5px;
}

.button-padding {
  padding: .2rem .6rem;
}

.modal-header > .close {
  padding: .5rem 1rem;
}

.order-button:hover, .close:hover {
  background: #55433B;
}

.icon-space {
  padding-right: 20px;
}

.btn-secondary:hover {
  background: #55433B;
}

@media screen and (max-width: 989px) {
  .navbar-light .navbar-nav .nav-link {
    font-family: "Libre Baskerville", serif;
    font-size: 1.2rem;
    padding: .8rem 0;
    text-align: center;
    }
}